<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Calorie Tracker - Sign up</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="/assets/css/global.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <header class="header">
                <div class="container">
                    <div class="logo">
                        <a href="#">
                            <img src="assets/img/logo.png">
                        </a>
                    </div>
                </div>
            </header>
            <div class="mid-container">
                <div class="signup-container">
                    <div class="white-card">
                      <form [formGroup]="userForm" (ngSubmit)="userFormFunction();">
                        <h1>Sign Up</h1>
                        <div class="card-body">
                            <div class="input-field">
                                <label>Name</label>
                                <input type="text" placeholder="Enter Name" formControlName="userName"/>
                                <small *ngIf="userForm.controls['userName'].invalid && (userForm.controls['userName'].dirty || userForm.controls['userName'].touched || userFormSubmitted)" style="color:red;">
                                  {{formValidation(userForm.controls['userName'].errors ," Name")}}
                                </small>
                            </div>
                            <div class="input-field">
                                <label>Weight</label>
                                <input type="number" placeholder="Enter in kg"  formControlName="userWeight"/>
                                <small *ngIf="userForm.controls['userWeight'].invalid && (userForm.controls['userWeight'].dirty || userForm.controls['userWeight'].touched || userFormSubmitted)" style="color:red;">
                                  {{formValidation(userForm.controls['userWeight'].errors ," Weight")}}
                                </small>
                            </div>
                            <div class="input-field">
                                <label>Height</label>
                                <input type="number" placeholder="Enter in Feet" formControlName="userHeight"/>
                                <small *ngIf="userForm.controls['userHeight'].invalid && (userForm.controls['userHeight'].dirty || userForm.controls['userHeight'].touched || userFormSubmitted)" style="color:red;">
                                  {{formValidation(userForm.controls['userHeight'].errors ," Height ")}}
                                </small>
                            </div>
                            <div class="input-field">
                              <label>D.O.B</label>
                              <input type="date" placeholder="dd-mm-yyyy" value="" formControlName="userBirthday" />
                              <small *ngIf="userForm.controls['userBirthday'].invalid && (userForm.controls['userBirthday'].dirty || userForm.controls['userBirthday'].touched || userFormSubmitted)" style="color:red;">
                                {{formValidation(userForm.controls['userBirthday'].errors ," Date Of Birth ")}}
                              </small>

                          </div>
                          <!-- <div class="input-field">
                            <label>Age</label>
                            <input type="number" placeholder="Enter Age" formControlName="userAge" />
                            <small *ngIf="userForm.controls['userAge'].invalid && (userForm.controls['userAge'].dirty || userForm.controls['userAge'].touched || userFormSubmitted)" style="color:red;">
                              {{formValidation(userForm.controls['userAge'].errors ,"Age")}}
                            </small>
                             <small style="color: red;">this is userAge = {{userAge |json}}</small>
                        </div> -->
                            <div class="input-field">
                                <label>Gender</label>
                                <select class="selectbox" formControlName="userGender">
                                    <option value="">--Select--</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                                <small *ngIf="userForm.controls['userGender'].invalid && (userForm.controls['userGender'].dirty || userForm.controls['userGender'].touched || userFormSubmitted)" style="color:red;">
                                  {{formValidation(userForm.controls['userGender'].errors ," Gender")}}
                                </small>
                            </div>
                            <div class="input-field btn-set--right">
                                <button class="btn-primary">Sign Up</button>
                            </div>
                            <div class="input-field btn-set--right">
                              <button class="btn-secondary" (click)="backbutton()">Close</button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                  <p>2022 LMD Consulting, LLC , All Rights Reserved</p>
                </div>
            </footer>
        </div>
    </body>
    <script src="assets/js/jslim.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
</html>
